<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/common :: head('board-detail')"></head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('board')"></nav>
<div class="container">
    <div class="form-group">
        <h3>[[${boardDTO.title}]]</h3>
    </div>
    <hr>
    <div class="form-group">
        [[${boardDTO.author}]] <span class="txt_bar"> | </span>
        [[${#temporals.format(boardDTO.regDate, 'yyyy/MM/dd HH:mm:ss')}]] <span class="txt_bar"> | </span>
        조회 [[${boardDTO.count}]]
    </div>

    <div class="form-group">
        <img th:each="imageFile : ${imageFiles}" th:src="|/board/images/${imageFile.getStoreFileName()}|" width="300"
             height="300"/>
    </div>

    <div class="form-group" style="margin-bottom: 100px">
        [[${boardDTO.content}]]
    </div>

    <hr>
    <div class="form-group">
        <label style="font-size: 15px"><b>첨부 이미지</b></label><br>
        <p th:each="imageFile : ${imageFiles}">
            <a th:if=|${imageFile}| th:href="|/board/download/${imageFile.getStoreFileName()}/${imageFile.getUploadFileName()}|"
               th:text="${imageFile.getUploadFileName()}" style="font-size: 13px">
            </a>
        </p>
    </div>
    <hr>


    <div class="card mb-2">
        <div class="card-header bg-light">
            <i class="fa fa-comment fa"></i>댓글 <b th:text="'['+${boardDTO.replyCount}+']'"</b>
        </div>

        <!--댓글 리스트 조회-->
        <div class="media text-muted pt-3" th:each="dto : ${replyDTO}">
            <div class="media-body pb-1 mb-0 small lh-125 border-bottom border-gray">
                <input hidden name="rid" id="rid" th:value="${boardDTO.rid}">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <strong class="text-gray-dark">&nbsp;[[${dto.replier}]]</strong>
                    <span class="d-block">[[${#temporals.format(dto.regDate, 'yyyy/MM/dd/ HH:mm:ss')}]]</span>
                </div>
                <br>
                <div class="d-flex justify-content-between align-items-center">
                    <span class="d-block">&nbsp;[[${dto.text}]]</span>
                    <br>
                </div>

                <div class="d-flex flex-row-reverse bd-highlight">
                    <div class="p-2 bd-highlight">
                        <!--                        <button type="button" class="btn btn-link btn-xs replyDelete">삭제</button>-->
                    </div>
                </div>
            </div>
        </div>


        <!--댓글 입력 폼 -->
        <form>
            <div class="card-body">
                <input type="hidden" id="replier" name="replier" th:value="${memberName}">
                <input type="hidden" id="bid" name="bid" th:value="${boardDTO.bid}">
                <input type="hidden" id="page" name="page" th:value="${requestDTO.page}">
                <input type="hidden" id="type" name="type" th:value="${requestDTO.type}">
                <input type="hidden" id="keyword" name="keyword" th:value="${requestDTO.keyword}">

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">

                        <div th:if="${memberName}==null">
                    <textarea class="form-control" rows="3"
                              placeholder="로그인 후 댓글을 입력해주세요." readonly></textarea>
                        </div>

                        <div th:if="${memberName}!=null">
                    <textarea class="form-control" id="replyText" name="replyText" rows="3"
                              placeholder="댓글을 입력해주세요."></textarea>
                        </div>

                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-primary mt-2 replySave">등록</button>
                        </div>

                    </li>
                </ul>
            </div>
        </form>

    </div>

    <div class="d-flex bd-highlight mb-3">
        <div class="mr-auto p-2 bd-highlight">
            <a th:href="@{/board/list(page=${requestDTO.page} ,
            type=${requestDTO.type}, keyword =${requestDTO.keyword})}">
                <button type="button" class="btn btn-light">이전</button>
            </a>
        </div>

        <div class="p-2 bd-highlight">
            <div class="d-flex justify-content-end">
                <!--수정 버튼은 작성한 글의 사용자와 로그인 한 사용자가 같을 때만 사용가능 -->
                <div th:if="${mid}==${boardDTO.mid}">
                    <a th:href="@{/board/update(bid = ${boardDTO.bid})}">
                        <button type="button" class="btn btn-primary">수정</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

</main><!-- /.container -->
</body>
<div th:replace="fragments/common :: footer"></div>
<!-- JQuery -->
<script th:inline="javascript">

    $(".replySave").click(function () {

        var reply = {
            bid: $('#bid').val(),
            text: $('#replyText').val(),
            replier: $('#replier').val(),
            page: $('#page').val(),
            type: $('#type').val(),
            keyword: $('#keyword').val()
        };

        if (reply.text.length < 500 && reply.text.length > 0) {
            console.log(reply);

            $.ajax({
                url: '/replies/',
                method: 'post',
                data: JSON.stringify(reply),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    console.log(data);

                    alert("댓글이 등록되었습니다.")
                    window.location.href =
                        '/board/detail?bid=' + reply.bid + '&page=' + reply.page + '&type=' + reply.type + '&keyword=' + reply.keyword;
                }
            })
        } else {
            alert("댓글은 1자 이상 500자 미만 입니다.")
        }

    });

    $(".replyDelete").click(function () {

        if (!confirm("해당 댓글을 삭제하십니까?")) {
            return;
        }

        var reply = {
            bid: $('#bid').val(),
            rid: $('#rid').val(),
            page: $('#page').val(),
            type: $('#type').val(),
            keyword: $('#keyword').val()
        };

        console.log(reply);
        $.ajax({
            url: '/replies/' + reply.rid,
            method: 'delete',
            data: JSON.stringify(reply),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                console.log(data);

                alert("댓글이 삭제되었습니다.")
                window.location.href =
                    '/board/detail?bid=' + reply.bid + '&page=' + reply.page + '&type=' + reply.type + '&keyword=' + reply.keyword;
            }
        })
    });
</script>
</html>
