<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head('board-create')"></head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('board')"></nav>

<div class="container">
    <h2>글 작성</h2>
    <hr>
    <form th:action="@{/board/write}" th:object="${boardSaveRequestDTO}" method="post">
        <input type="hidden" th:field="*{bid}">
        <div class="form-group">
            <label>제목</label>
            <input type="text" class="form-control"
                   th:class="${#fields.hasErrors('title')} ? 'form-control is-invalid' : 'form-control'"
                   th:field="*{title}" placeholder="제목을 입력해주세요.">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Incorrect date
            </div>
        </div>

        <div class="form-group">
            <label>내용</label>
            <textarea class="form-control" th:field="*{content}" rows="15">

            </textarea>
        </div>

        <div class="form-group">
            <div class="custom-file">
                <label for="imageFiles" class="btn btn-primary">이미지</label>
                <input type="file" class="custom-file-input" multiple="multiple" id="imageFiles" th:field="*{imageFiles}" onchange='test();'>
            </div>

            <label>첨부 파일</label>


        </div>

        <hr>

        <div class="text-right">
            <a type="button" class="btn btn-light" onclick="cancel()">취소</a>
            <button type="submit" class="btn btn-primary">등록</button>
        </div>
    </form>

</div>
</main><!-- /.container -->

</body>
<div th:replace="fragments/common :: footer"></div>
<script th:inline="javascript">
    window.cancel = function () {
        if (confirm("글 작성을 취소하시겠습니까?")) {
            window.location.replace("/board/list");
        }
    }

    window.test = function () {
        console.log("테스트");
    }

    $(".popupImg").click(function () {
        window.open("/board/popupImg", "팝업 테스트", "width=800,height=600,top=100,left=100");
    });


</script>
</html>

