<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head('home')"></head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('home')">
</nav>

<main role="main" class="container">
    <div class="starter-template">
        <img th:src="|/board/images/3645471f-4130-4cee-9329-12d480a828b9.gif|" width="400"
             height="400" style="margin-bottom: 20px"/>
        <h1>웹 게시판 서비스 포트폴리오</h1>
        <p class="lead">사용 기술 : Spring Boot, Spring Data JPA, Spring Security, Thymeleaf, BootStrap,
            <br>Java, JavaScript, JPQL, Querydsl,
            <br>AWS(EC2, RDS), GitHub </p>
    </div>
</main><!-- /.container -->

</body>
<div th:replace="fragments/common :: footer"></div>
</html>